<!DOCTYPE html>
<html ng-app="RealEstateApp">
<head>
  <title>Kinnisvara</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.css">
  <script src="http://cdn.leafletjs.com/leaflet-0.7.1/leaflet.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.6/angular.min.js"></script>
  <%= javascript_include_tag "angular-leaflet-directive.min" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
